<html lang="en">
<head>
    <!--?    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css"-->
    <!--?          crossorigin="anonymous">-->
    <!--?    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js"-->
    <!--?            crossorigin="anonymous"></script>-->


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script type="importmap">
        { "imports": { "vue": "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.js" } }
    </script>
    <style>
        .app {
            margin: auto;
            align: center;
            width: 50%;
        }

    </style>
</head>
<body class="app">

<div id="app">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <tr><th colspan="2"><h2>Customer</h2></th></tr>
            </thead>
            <tbody>
                <tr><td>Customer Name</td><td>{{ form.customer_name }}</td></tr>
                <tr><td>On Site Calibration</td><td>{{ form.onsite_cal }}</td></tr>
                <tr><td>Control Doc#</td><td>{{ form.control_doc }}</td></tr>
                <tr><td>Technician</td><td>{{ form.technician }}</td></tr>
            </tbody>

            <thead>
                <tr><th colspan="2"><h2>Instrument</h2></th></tr>
            </thead>
            <tbody>
                <tr><td>Model:</td><td>{{ form.instrument_model }}</td></tr>
                <tr><td>Calibration Date:</td><td>{{ form.instrument_calibration_date }}</td></tr>
                <tr><td>Calibration Due Date:</td><td>{{ form.instrument_calibration_due_date }}</td></tr>
                <tr><td>Serial Number</td><td>{{ form.serial_number }}</td></tr>
                <tr><td>Channel</td><td>{{ form.channel }}</td></tr>
                <tr><td>Transducer Model:</td><td>{{ form.transducer_model }}</td></tr>
                <tr><td>Transducer Span:</td><td>{{ form.transducer_span }}</td></tr>
            </tbody>

            <thead>
                <tr><th colspan="2"><h2>Primary Calibration Device</h2></th></tr>
            </thead>
            <tbody>
                <tr><td>Model</td><td>{{ form.calibration_model }}</td></tr>
                <tr><td>Serial #</td><td>{{ form.calibration_serial }}</td></tr>
                <tr><td>Cal Date</td><td>{{ form.calibration_date }}</td></tr>
                <tr><td>Cal Due Date</td><td>{{ form.calibration_due_date }}</td></tr>
                <tr><td>Cert ID</td><td>{{ form.calibration_cert_id }}</td></tr>
            </tbody>

            <thead>
                <tr><th colspan="2"><h2>Environment</h2></th></tr>
            </thead>
            <tbody>
                <tr><td>Accuracy</td><td>{{ form.accuracy }}</td></tr>
                <tr><td>Barometric Pressure (mbar)</td><td>{{ form.barometric_pressure }}</td></tr>
                <tr><td>Temperature (&deg;F)</td><td>{{ form.temperature }}</td></tr>
                <tr><td>Humidity</td><td>{{ form.humidity }}</td></tr>
            </tbody>

            <thead>
                <tr><th colspan="2"><h2>Report Uploads</h2></th></tr>
            </thead>
            <tbody>
                <tr><td>Report Type</td><td>{{ form.report_type }}</td></tr>
                <tr><td colspan=2>One File: {{ form.both }}</td></tr>
                <tr><td>As Found: {{ form.as_found }}</td><td>As Left:{{ form.as_left }}</td></tr>
                <tr><td>&nbsp;</td><td align="right"><input type="submit" value="Generate PDF and Label"></td></tr>
            </tbody>
        </table>
    </form>
</div>

{% verbatim %}
<script type="module">
    import {createApp, ref, reactive, computed} from 'vue'

    // Vue.config.delimiters = ['${', '}'];
    const vm = createApp({
        data() {
            const as_found = ""
            const as_left = ""
            const both = ""
            const report_type = ""
            const accuracy = ref("0.5")
            const barometric_pressure = ref(1013.25)
            const temperature = ref("50")
            const humidity = ref("50.0")
            const show_as_found = reactive(true)
            const show_as_left = reactive(true)
            const show_both = reactive(true)
            const show_report_type = reactive(true)

            return {
                accuracy,
                barometric_pressure,
                temperature,
                humidity,
                as_found,
                as_left,
                both,
                report_type,
                show_as_found,
                show_as_left,
                show_both,
                show_report_type,

            }
        },
        el: "#app",
        methods: {
            change_as_found: function () {
                this.show_both = false
            },
            change_as_left: function () {
                this.show_both = false
            },
            change_both: function () {
                this.show_as_found = false
                this.show_as_left = false
            },
            notifyFileInput: function (event) {
                // update file name value
                this.file = event.target.files[0].name;
            },
        },
        ready: () => {
            $('input[type="file"]').change(this.notifyFileInput.bind(this));
        }
    }).mount("#app")
</script>
{% endverbatim %}
</body>
</html>